<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <% 
  const hotels = data.offers.Hotel;
  hotels.forEach(function(hotel){
  %>
<div id="hotels">
	<div class="hotell">
		<div id="hotel-image" class="left">
			<img src="<%= data.offers.Hotel[0].hotelInfo.hotelImageUrl %>" >
		</div>
		<div id="hotel-address" class="middle">
			<span style="color:#0065b8"><%= data.offers.Hotel[0].hotelInfo.hotelName %></span><br>
			<span><%= data.offers.Hotel[0].hotelInfo.hotelCity %></span><br>
			<span><%= data.offers.Hotel[0].hotelInfo.hotelStreetAddress %></span>
		</div>
		<div id="hotel-offer" class="right">
		<span style="text-decoration: line-through"><%= data.offers.Hotel[0].hotelPricingInfo.crossOutPriceValue %></span> <span id="deal"><%= data.offers.Hotel[0].hotelPricingInfo.averagePriceValue %></span>
		<br>
		<span>You save <%= data.offers.Hotel[0].hotelPricingInfo.percentSavings %></span>
		</div>
	</div>
</div>
  <%  
  })
  %>

</body>
</html>
