<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% 
  If (data) {
	  const hotels = data.offers.Hotel;
	  hotels.forEach(function(hotel){
  %>
<div id="hotels">
	<div class="hotell">
		<div id="hotel-image" class="left">
			<img src="<%= hotel.hotelInfo.hotelImageUrl %>" >
		</div>
		<div id="hotel-address" class="middle">
			<span style="color:#0065b8"><%= hotel.hotelInfo.hotelName %></span><br>
			<span><%= hotel.hotelInfo.hotelCity %></span><br>
			<span><%= hotel.hotelInfo.hotelStreetAddress %></span>
		</div>
		<div id="hotel-offer" class="right">
		<span style="text-decoration: line-through; color:red"><%= hotel.hotelPricingInfo.crossOutPriceValue%> <%= hotel.hotelPricingInfo.currency %></span> <span id="deal"><%= hotel.hotelPricingInfo.averagePriceValue %> <%= hotel.hotelPricingInfo.currency %></span>
		<br>
		<span>You save <%= hotel.hotelPricingInfo.percentSavings %> %</span>
		</div>
	</div>
</div>
  <%  
	})
  }
  %>
 <% include ../partials/form.ejs %>
</body>
</html>
